apiVersion: apps/v1
kind: Deployment
metadata:
  name: ci-listener-deployment
  labels:
    app: ci-listener
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ci-listener
  template:
    metadata:
      labels:
        app: ci-listener
    spec:
      serviceAccountName: ci-listener-sa
      containers:
        - name: ci-listener
          image: "harbor.crossyjob.ezyostudio.com/utils/ci-listener"
          imagePullPolicy: Always
          ports:
            - name: ci-listnr-http
              containerPort: 8888
