version: "3.8"

networks:
  jenkins-network:
    name: jenkins

volumes:
  data:
    name: jenkins-data
  certs:
    name: jenkins-docker-certs

services:
  dind:
    container_name: jenkins-docker
    image: docker:dind
    privileged: true
    pull_policy: always
    restart: unless-stopped
    networks:
      jenkins-network:
        aliases:
          - docker
    ports:
      - "2376:2376"
    volumes:
      - data:/var/jenkins_home
      - certs:/certs/client
    environment:
      - DOCKER_TLS_CERTDIR=/certs
  jenkins:
    container_name: jenkins-blueocean-jdk17
    build:
      context: .
      dockerfile: "./jenkins.Dockerfile"
    pull_policy: build
    user: "1000:121"
    restart: unless-stopped
    networks:
      - jenkins-network
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - data:/var/jenkins_home
      - certs:/certs/client:ro
      - /var/run/docker.sock:/var/run/docker.sock
#      - /usr/bin/docker:/usr/bin/docker
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
      - JENKINS_OPTS="--prefix=/jenkins"
