apiVersion: apps/v1
kind: Deployment
metadata:
  name: back-deployment
  labels:
    app: back
spec:
  replicas: 1
  selector:
    matchLabels:
      app: back
  template:
    spec:
      containers:
        - name: back
          image: "51.159.160.76:8081/crossy-job-back/crossy-job-back:latest"
          ports:
            - name: back-http
              containerPort: 9090
          resources:
            limits:
              memory: "256Mi"
